.navbar.navbar-expand-lg a{
    color:rgb(255, 255, 255)
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a{
    color: rgb(255, 255, 255);
}

.bannerr{
    background-color: rgb(221, 221, 221);
    position: fixed;
    overflow: scroll;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


  
  body {
    background-color: rgb(0,159,214);
    font: bold 1em/100% "Helvetica Neue", Arial, sans-serif;
    /*padding: 2em 0;*/
    text-align: center;
  }
  h1 {
    color: white;
    line-height: 120%;
    margin: 0 auto 2rem auto;
    max-width: 30rem;
  }

  /* modal*/
  